@import "reset.css";
@import "variables.css";

header {
  display: flex;
}

.logo {
  width: 40px;
}

.btn {
  width: auto;
  color: var(--white);
  background-color: var(--primary);
}

.regulation {
  background-color: var(--secondary);
}
